body {
    font-family: sans-serif;
    line-height: 1.8;
}

a {
    color: #00c;
}
a:visited {
    color: #c0c;
}

main {
    margin: 0 1rem;
    padding: 0;
}

main.flex .column {
    flex-basis: 50%;
}

h2 {
    margin: 1rem 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
}

@media (min-width: 80em) {
    header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    }

    #index section {
        display: flex;
    }
}

/* me */

main.markdown, main.narrow {
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
    font-family: "Helvetica Neue", sans-serif;
}

.family {
    color: #900;
}

.given {
    color: #090;
}

p {
    line-height: 1.5;
    margin: 1rem 0;
}

table.name {
    border-collapse: collapse;
    margin: 0 auto;
}
table.name th, table.name td {
    border: 1px solid #999;
    text-align: center;
}
table.name th {
    font-weight: normal;
}
table.name td {
    font-size: 200%;
}

h4 {
    font-weight: normal;
}

h4 {
    display: flex;
}
h4 .years {
    width: 33.3%;
}
.title {
    flex-grow: 2;
}

.thumbnail {
    width: 10rem;
}

/* /me/resume.html */

#v4_src_me_resume header ul {
    display: flex;
	justify-content: space-between;
    margin: 1rem 0;
    padding: 0;
}
#v4_src_me_resume header li {
    list-style: none;
    margin: 0;
}

#v4_src_me_resume body {
    line-height: 1.2;
}

#v4_src_me_resume header {
    max-width: 80%;
    margin: 0 auto;
}

#v4_src_me_resume main.markdown {
    max-width: none;
}

#v4_src_me_resume h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
