body {
    margin: 0 auto;
    max-width: 60em;

    font-family: "Helvetica", "Arial", sans-serif;

    line-height: 2;
    padding: 1em;

    color: #333;
}

h1 {
    font-size: 120%;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    color: #333;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

header {
    margin: 0.5rem 0 2rem 0;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 0.9rem;
    line-height: 2rem;
}

header li {
    margin-right: 1rem;
    font-weight: bold;
}

header a {
    color: #000;
    text-decoration: none;
}

header li.logo {
    font-size: 1.5rem;
    line-height: 2rem;
}

header li.me {
    margin-left: auto;
}

h1 span.ja {
    font-weight: normal;
}

ul.work {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.work li {
    margin-bottom: 1rem;
}

ul.work p {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

ul.work .ja {
    color: #999;
    font-size: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}

.location {
    font-size: 90%;
}

.years {
    font-size: 90%;
    color: #000;
}

.see-also a {
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
}
