body {
    margin: 0 auto;
    max-width: 50em;

    font-family: "Helvetica Neue", "Arial", sans-serif;

    line-height: 1.8;
    padding: 0 .5em;

    color: #333;
}

h1 {
    font-size: 200%;
    margin: .5rem 0;
    padding: 0;
}

h2 {
    margin-top: 1rem 0 0 0;
}

h1,
h2,
strong {
    color: #333;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

nav {
    margin: .5rem;
    font-size: 90%;
    line-height: 1;
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    background: #ddd;
}

a.here {
    background: #fc0;
}

nav a:hover {
    background: #eee;
}

header li.logo {
    font-size: 1.5rem;
    line-height: 2rem;
}

header li.me {
    margin-left: auto;
}

h1 span.ja {
    font-weight: normal;
}

ul.work {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.work li {
    margin-bottom: 1rem;
}

ul.work p {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

ul.work .ja {
    color: #999;
    font-size: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}

.location {
    font-size: 90%;
}

.years {
    font-size: 90%;
    color: #000;
}

.see-also a {
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
}
