body {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 50rem;

    font-family: "Helvetica Neue", "Arial", sans-serif;

    line-height: 1.8;

    color: #333;
    background: #fff;
}

a {
    color: #00f;
}
a:visited {
    color: #60f;
}

ul {
    list-style-type: disc;
}

h1 {
    font-size: 150%;
    margin: .5rem 0;
    padding: 0;
    line-height: 1.2;
}

h1 a {
    text-decoration: none;
    color: #333 !important;
}

h2 {
    font-size: 110%;
    margin-top: 1rem 0 0 0;
}
h1 div.ja {
    font-weight: normal;
}

h1,
h2,
strong {
    color: #333;
}

ul.work {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.work li {
    margin-bottom: 1rem;
}

ul.work p {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.ja {
    color: #666;
    font-size: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
}

.location {
    font-size: 90%;
}

.years {
    font-size: 90%;
    color: #000;
}

.see-also a {
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
}

#clocks {
    display: flex;
    line-height: 1;
}

h3 {
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: normal;
}

@media screen and (min-width: 50rem) {
    h3 {
	display: flex;
    }
}

h3 div.location {
}
