/* http://clrs.cc/ */

body {
    background: #fff;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.6;
}

/* back to basics */
a:link {
    color: #009;
}
a:visited {
    color: #606;
}
a:hover {
    color: #00f;
}
a:active {
    color: #00f;
}

.content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.v1 h2 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
}

.v1 h3 {
    font-size: 20px;
    font-weight: 700;
}



/* header */

/* /me/index.html */
